* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  height: 100vh;
  --side-width: 225px;
  --area-width: 50%;
  --theme-color: 210;
}
#sideNav {
  width: var(--side-width);
  height: 100%;
  background-color: hsl(var(--theme-color), 62%, 18%);
  box-shadow: 2px 0px 3px rgb(0 0 0 / 30%);
  color: hsl(0, 0%, 88%);
  user-select: none;
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 36px;
  position: relative;
  font-size: 0.85rem;
  z-index: 1;
}
#sideNav > qr-folder {
  height: calc(100% - 24px);
  overflow: hidden;
}
#sideNav > qr-folder ::-webkit-scrollbar {
  display: none;
}
#sideNav > qr-folder a {
  margin-left: 1px;
}
#sideNav > qr-folder a:focus {
  outline: hsl(var(--theme-color), 88%, 62%) solid 1px;
  outline-offset: -1px;
}
#sideNav > qr-folder a:hover {
  background: hsl(var(--theme-color), 62%, 24%);
}
#sideNav > qr-folder a.selected {
  background-color: hsl(var(--theme-color), 38%, 24%);
}
#sideNav > qr-folder.focused a.selected {
  background-color: hsla(var(--theme-color), 62%, 38%, 0.5);
}
#sideNav > qr-folder > .dir-title {
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
  position: relative;
  font-weight: 600;
  z-index: 1;
}
#sideNav > qr-folder > .dir-title:before {
  font-weight: normal;
}
#sideNav > qr-folder > .dir-body {
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
}
#sideNav > qr-folder > .dir-body:focus {
  outline: hsl(var(--theme-color), 88%, 62%) solid 1px;
  outline-offset: -1px;
}
#sideNav > qr-folder > .dir-body:focus a.selected,
#sideNav > qr-folder > .dir-body:focus a:hover {
  width: calc(100% - 2px);
}
#sideNav a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
qr-slidery {
  position: absolute;
  right: 0px;
  top: 60px;
  height: calc(100% - 60px - 24px);
  width: 8px;
}
qr-slidery:hover {
  cursor: default;
}
.slider-trackY {
  height: 100%;
}
.slider-thumbY {
  background-color: hsla(var(--theme-color), 24%, 62%, 0.3);
  width: 100%;
  position: absolute;
}
qr-resizerx {
  position: absolute;
  height: 100%;
  right: -2px;
  top: 0px;
  width: 2px;
  transition: width 0.1s, right 0.1s;
}
qr-resizerx:hover {
  cursor: e-resize;
  right: -3px;
  width: 3px;
  background-color: hsl(var(--theme-color), 88%, 62%);
}
qr-folder {
  display: block;
  cursor: pointer;
}
qr-folder.opened > .dir-title:before {
  content: "\f347" !important;
}
qr-folder.opened > .dir-body {
  display: block;
}
.dir-title {
  height: 24px;
  display: block;
  line-height: 24px;
  position: relative;
  padding-left: calc(var(--nest-level, 1) * 12px);
  text-decoration: none;
  color: inherit;
}
.dir-title:before {
  font-family: dashicons;
  content: "\f345" !important;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  width: 12px;
  height: 24px;
  left: calc(var(--nest-level, 1) * 12px - 12px);
  text-indent: -2px;
}
.dir-body {
  display: none;
}
.dir-body > a {
  display: block;
  padding-left: calc(var(--nest-level, 1) * 12px + 12px);
  height: 24px;
  line-height: 24px;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.dir-body > a:before {
  font-family: dashicons;
  vertical-align: middle;
  position: absolute;
  left: calc(var(--nest-level, 1) * 12px);
  content: "\f491";
  text-indent: -2px;
}
.qr-dragbox {
  position: fixed;
  padding: 12px 0px 0px 10px;
  opacity: 0;
  z-index: 3;
}
.qr-dragItem {
  border: solid 1px hsl(var(--theme-color), 100%, 62%);
  border-radius: 7px;
  height: 17px;
  min-width: 24px;
  font-size: 12px;
  padding: 0px 8px;
  background-color: hsl(var(--theme-color), 62%, 18%);
}
.draggedOn, .draggedOn a {
  background-color: hsl(var(--theme-color), 38%, 38%) !important;
}
.context-menu {
  user-select: none;
  color: hsl(0, 0%, 88%);
  position: fixed;
  width: 120px;
  background-color: hsl(var(--theme-color), 38%, 24%);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  z-index: 2;
}
.context-menu > a {
  display: block;
  height: 28px;
  line-height: 28px;
  padding-left: 8px;
  margin: 0px !important;
}
.context-menu > a:hover {
  background-color: hsl(var(--theme-color), 38%, 38%) !important;
}
.context-menu > a:not(:last-child) {
  border-bottom: hsl(0, 0%, 62%) solid 1px;
}
.context-menu > .ulFile {
  border-bottom: none !important;
}
.context-menu > .dlFile {
  border-bottom: none !important;
  text-decoration: underline;
}
.context-menu > .dFile {
  border-top: hsl(0, 62%, 62%) solid 2px;
  color: hsl(0, 62%, 62%) !important;
  font-weight: 600;
  height: 30px;
  border-bottom: none;
}
::-webkit-scrollbar {
  display: none;
}
#topNav {
  background-color: hsl(var(--theme-color), 50%, 18%);
  position: fixed;
  height: 36px;
  width: calc(100% - var(--side-width));
  top: 0px;
  right: 0px;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
  z-index: 1;
  user-select: none;
}
#navBar {
  white-space: nowrap;
  overflow: scroll;
  position: relative;
  z-index: 0;
}
.qr-page {
  position: relative;
  height: 100%;
  display: inline-block;
  line-height: 36px;
  margin-right: 1px;
  background-color: hsl(var(--theme-color), 38%, 24%);
  padding: 0px 36px 0px 18px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: hsl(0, 0%, 74%);
}
.qr-page.unpined {
  font-style: oblique;
}
.qr-page.active {
  background-color: hsl(var(--theme-color), 62%, 12%);
  color: white !important;
}
.qr-page.unsaved:before {
  font-family: dashicons;
  content: "\f464";
  height: 0px;
  display: inline-block;
  position: absolute;
  left: 4px;
}
.qr-page.active > .del-icon {
  display: block;
}
.qr-page > .del-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  font-size: 16px;
  top: 10px;
  right: 10px;
  line-height: 16px;
  border-radius: 2px;
  display: none;
  font-style: normal;
}
.qr-page > .del-icon:hover {
  background-color: hsla(var(--theme-color), 62%, 88%, 0.3);
}
.qr-page > .del-icon::before {
  font-family: dashicons;
  content: "\f543";
  display: inline-block;
  transform: rotate(45deg);
}
.qr-page:hover > .del-icon {
  display: block;
}
qr-sliderx {
  position: absolute;
  bottom: 0px;
  height: 4px;
  width: 100%;
}
.slider-trackX{
  height: 100%;
}
.slider-thumbX {
  background-color: hsla(var(--theme-color), 24%, 62%, 0.3);
  height: 100%;
  position: absolute;
}
#logo {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 36px;
  width: var(--side-width);
  color: hsl(var(--theme-color), 68%, 68%);
  user-select: none;
  z-index: 1;
  overflow: hidden;
}
#logo.closed {
  width: 48px;
  box-shadow: 2px 0px 3px rgb(0 0 0 / 30%);
}
#logo.closed > #icon:before {
  content: "\f318";
}
#logo > #icon {
  background-color: hsl(var(--theme-color), 62%, 18%);
  height: 36px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  padding: 6px 0px 0px 12px;
}
#logo > #icon:before {
  font-family: dashicons;
  display: inline-block;
  content: "\f322";
  font-size: 22px;
  height: 24px;
  width: 24px;
  filter: brightness(138%);
}
#logo > #icon:hover {
  filter: brightness(138%);
}
#logo > #title {
  font-weight: 600;
  font-size: 1.1rem;
  font-family: sans-serif;
  position: absolute;
  left: 48px;
  top: 0px;
  height: 36px;
  text-align: center;
  padding-right: 24px;
  line-height: 36px;
  width: calc(var(--side-width) - 48px);
}
#content {
  position: fixed;
  top: 36px;
  height: calc(100% - 36px);
  width: calc(100% - var(--side-width));
  left: var(--side-width);
  background: hsl(var(--theme-color), 24%, 12%);
  user-select: none;
}
#codeContainer {
  position: absolute;
  height: 100%;
  width: var(--area-width);
  padding-right: 8px;
  z-index: 1;
  padding-top: 24px;
}
#codeContainer > #panel {
  position: absolute;
  top: 0px;
  height: 24px;
  width: 100%;
  background-color: hsl(var(--theme-color), 38%, 18%);
  box-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
  padding-right: 8px;
  z-index: 1;
  overflow: hidden;
}
#panel > div {
  width: 24px;
  height: 24px;
  margin-left: 13px;
  padding-top: 1px;
  color: hsl(var(--theme-color), 68%, 88%);
}
#panel > div:before {
  content: "\2605";
  line-height: 24px;
  font-size: 20px;
}
#codeContainer > #codeWrapper {
  width: 100%;
  height: 100%;
}
#codeContainer > qr-resizerx {
  position: absolute;
  width: 8px;
  right: 0px;
  background-color: hsl(var(--theme-color), 38%, 18%);
  box-shadow: 2px 0px 3px rgb(0 0 0 / 30%);
  z-index: 1;
}
#codeContainer > qr-resizerx > div {
  height: calc(100% - 24px);
  box-shadow: -2px 3px 3px rgb(0 0 0 / 30%);
  margin-top: 24px;
}
#frameContainer {
  position: absolute;
  right: 0px;
  height: 100%;
  width: calc(100% - var(--area-width));
  padding-top: 24px;
  background-color: white;
}
#frameContainer > #searchBar {
  position: absolute;
  top: 0px;
  height: 24px;
  width: 100%;
  background-color: hsl(0, 0%, 88%);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
  text-align: center;
  white-space: nowrap;
}
#searchBar > input {
  outline: none;
  border: none;
  height: 20px;
  vertical-align: 1px;
  border-radius: 3px;
  width: calc(100% - 80px);
  margin: 0px 2px;
  padding-right: 20px;
  box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 20%);
  background-color: white;
  vertical-align: middle;
  position: relative;
  top: 1px;
}
#searchBar > div {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  color: hsl(0, 0%, 38%);
  position: relative;
  margin-left: -20px;
  top: 1px;
}
#searchBar.locked > div:before {
  content: "\f315";
  color: hsl(330, 100%, 50%);;
}
#searchBar > div:before {
  font-family: dashicons;
  content: "\f528";
}
#frameWrapper {
  width: 100%;
  height: 100%;
}
#frameWrapper > iframe {
  height: 100%;
  width: 100%;
  border: none;
}
/*---------------------------*/
.day #topNav {
  background-color: hsl(0, 0%, 82%);
}
.day #topNav a {
  color: hsl(0, 0%, 24%);
  background-color: hsl(0, 0%, 76%);
}
.day .qr-page > .del-icon:hover {
  background-color: hsl(0, 0%, 62%);
}
.day .qr-page.active {
  color: black !important;
  background-color: hsl(0, 0%, 88%) !important;
}
.day #sideNav {
  background-color: hsl(0, 0%, 88%);
}
.day #sideNav a {
  color: hsl(0, 0%, 12%);
}
.day #sideNav > qr-folder a:focus,
.day #sideNav > qr-folder > .dir-body:focus {
  outline: hsl(210, 62%, 38%) solid 1px;
}
.day #sideNav > qr-folder a:hover {
  background: hsl(0, 0%, 82%);
}
.day #sideNav > qr-folder a.selected {
  background-color: hsl(0, 0%, 76%);
}
.day #sideNav > qr-folder.focused a.selected {
  background-color: hsla(210, 12%, 62%, 0.5);
}
.day .qr-dragItem {
  background-color: hsl(0, 0%, 88%);
  border: hsl(210, 62%, 38%) solid 1px;
  color: hsl(0, 0%, 12%);
}
.day qr-resizerx:hover {
  background-color: hsl(210, 62%, 62%);
}
.day #content {
  background: white;
}
.day #panel > div:before {
  content: "\2600";
}
.day #codeContainer > #panel {
  background-color: hsl(0, 0%, 88%);
}
.day #codeContainer > #panel {
  color: hsl(0, 0%, 12%);
}
.day #codeContainer > #panel > select::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 62%);
}
.day #codeContainer > qr-resizerx {
  background-color: hsl(0, 0%, 88%);
}
.day .context-menu {
  background-color: hsl(0, 0%, 88%);
}
.day .context-menu > a:hover {
  background-color: hsl(0, 0%, 76%) !important;
}
.day .draggedOn, .day .draggedOn a {
  background-color: hsl(210, 12%, 76%) !important;
}
.day .slider-thumbY {
  background-color: hsla(0, 0%, 38%, 0.3);
}
.day .slider-thumbX {
  background-color: hsla(0, 0%, 38%, 0.3);
}
.day #logo {
  color: hsl(0, 0%, 12%);
}
.day #logo > #icon {
  background-color: hsl(0, 0%, 88%);
}
.day #logo > #icon:hover {
  filter: brightness(88%);
}
.day #panel > div {
  color: hsl(0, 0%, 12%);
}